<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img src="<%= url_for(@picture.image.variant(resize_to_limit: [348, 348])) %>" alt="<%= @picture.name %>">
    <div class="card-body">
      <p class="card-text"><%= @picture.name %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to "View", picture_path(@picture.id), :class => 'btn btn-sm btn-outline-secondary' if @picture.related_id.nil? %>
        </div>
        <small class="text-muted">Category: <%= @picture.category.name %> | Color: 
          <span class="color-box" style="background-color:<%= @picture.average_color %>"></span>
        </small>
      </div>
    </div>
  </div>
</div>