<%= form_for :picture, url: upload_picture_path do |f| %>

  <%= f.hidden_field :category_id, value: @picture.category_id unless @picture.nil? %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', value: '' %>
  </div>

  <div class="form-group">
    <label for="formImage">Upload new photo</label>
    <%= f.file_field :image, class: 'form-control-file', id: 'formImage' %>
  </div>

  <div class="form-group">
    <%= f.submit "Upload", class: "btn btn-primary available-tables-btn", data: {disable_with: "Please wait..."} %>
  </div>

<% end %>
