<h2>Picture: <%= @picture.name %></h2>
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card mb-8 shadow-sm">
      <img class="card-img-top" src="<%= url_for(@picture.image.variant(resize_to_limit: [800, 800])) %>" alt="<%= @picture.name %>" >
      <div class="card-body">
        <div class="card-text row">
          <div class="col-md-6">
            <%= @picture.name %>
          </div>
          <div class="col-md-6">
            <div class="text-muted text-right">
              <small>Category: <%= @picture.category.name %> | Color: 
              <span class="color-box" style="background-color:<%= @picture.average_color %>"></span>
              </small>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <div class="upload">
            <h3>Upload related photo</h3>
            <%= render partial: "shared/upload_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<hr>
<h3>Related photos</h3>
<%= render partial: "shared/list_pictures" %>