<div class="row py-1">
  <div class="col">
    <h2>Categories</h2>
  </div>
  <div class="col text-right">
    <%= link_to "Add category", new_category_path, :class => 'btn btn-outline-dark text-right' %>
  </div>
</div>

<div class="row">
  <%- @categories.each do |category| %>
    <div class="col-md-3">
      <div class="card mb-3" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title"><%= category.name %></h5>
          <div class="d-flex justify-content-between align-items-center">
            <small><%= link_to "View", category_path(category), :class => 'card-link' %></small>
            <small class="text-muted">added: <i><%= category.created_at.strftime("%F %R") %></i></small>
          </div>
        </div>
      </div>
    </div>
  <%- end %>
</div>
