<h2>New Category</h2>

<%= form_for @category, url: categories_path do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', value: @category.name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-outline-dark text-right' %>
  </div>

<% end %>
